@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #2a2a2a;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mobile-nav {
  transition: all 0.4s cubic-bezier(0.75, -0.5, 0, 1.75);
  transform-origin: top right;
}

.tracking-n-1 {
  letter-spacing: -0.1px;
}
.tracking-n-2 {
  letter-spacing: -0.2px;
}
.tracking-n-3 {
  letter-spacing: -0.3px;
}
.tracking-n-4 {
  letter-spacing: -0.4px;
}
.tracking-n-5 {
  letter-spacing: -0.5px;
}
.tracking-n-6 {
  letter-spacing: -0.6px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
